.logo{
    font-family: 'Kanit', sans-serif;
    padding-left: 50px;
    width: 1015px;
    color: #eee;
}

.upmain{
    display: flex;
    padding-top: 20px;
    background-color: rgb(52, 58, 64);
}

.kanit{
    font-family: 'Kanit', sans-serif;
}

main{
    background-color: rgba(92, 100, 110, 0.137);
}

.h2ip{
    padding-left: 610px;
}

.ftrcol{
    padding-top: 50px;
    background-color: rgb(52, 58, 64);
    display: flex;
}

.cardblock{
    display: flex;
    padding-bottom: 50px;
    padding-top: 10px;
}

.cardwidth{
    width: 160px;
}

.cardleftpad{
    margin-left: 50px;
}

.cardheight{
    margin-top: 43px;
}

.cardheight2{
    margin-top: 157px;
}

.cardheight3{
    margin-top: 75px;
}

.ftrlogo{
    font-family: 'Kanit', sans-serif;
    padding-left: 50px;
    color: #eee;
}

.vidstan{
    padding-left: 150px;
}