.logo{
    font-family: 'Kanit', sans-serif;
    padding-left: 50px;
    width: 1015px;
    color: #eee;
}

.upmain{
    display: flex;
    padding-top: 20px;
    background-color: rgb(52, 58, 64);
}

.kanit{
    font-family: 'Kanit', sans-serif;
}

body{
    display: block;
}

.ipomain{
    width: 1300px;
    padding-left: 100px;
}

.h2ip{
    padding-left: 610px;
}

.ftrcol{
    margin-top: 50px;
    background-color: rgb(52, 58, 64);
}

.cardblock{
    display: flex;
}

.cardwidth{
    width: 160px;
}

.cardleftpad{
    margin-left: 50px;
}

.cardheight{
    margin-top: 43px;
}

.cardheight2{
    margin-top: 157px;
}

.cardheight3{
    margin-top: 75px;
}