.but{
    background-color:#fff;
    color: #626262;
    width: 165px;
    height: 60px;
    border: 1px solid #626262;
    display: block;
    transition: background-color 500ms, color 1s;
}

.but:hover{
    color:aliceblue;
    background-color: aliceblue;
}

.wit{
    transition-duration: 100s;
    transition-timing-function: linear;
    transition-delay: 100s;
    transition-property: all;
    width: 50px;
    height: 50px;
}

.wit:hover{
    width: 75px;
    height: 75px;
}